$primary-color: #ffffff;
@use "./reset.scss";
@use "./mixins.scss" as mixins;

body {
  background-color: $primary-color;
  font-family: Montserrat, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  #root {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .main-container {
      flex-grow: 1;
      padding-left: 100px;
      padding-right: 100px;
    }
    @include mixins.mobile {
      .main-container {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
