@use "../../styles/mixins.scss" as mixins;

.carousel-container {
  padding: 20px;

  .property-header {
    display: flex;
    justify-content: space-between;

    .property-infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .property-title {
        font-size: 36px;
        color: #ff6060;
        font-weight: 500;
      }
      .property-location {
        font-size: 18px;
        font-weight: 500;
      }
      .property-tags {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        .property-tag {
          color: white;
          border-radius: 10px;
          background-color: #ff6060;
          padding: 4px 40px;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }

    .property-host {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
      text-align: right;

      .property-host-info {
        display: flex;
        align-items: center;
        gap: 10px;

        .property-name {
          font-size: 18px;
          color: #ff6060;
          font-weight: 500;
        }

        .property-picture {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .property-rating {
        display: flex;
        gap: 10px;
      }
    }
  }

  .collapse-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
    gap: 76px;
  }

  @include mixins.mobile {
    padding: 0;
    margin-top: 27px;

    .carousel {
      margin: 0;
      img {
        height: 255px;
      }

      .slider img {
        height: 19px;
      }
    }

    .property-header {
      flex-direction: column;
      .property-infos {
        gap: 5px;

        .property-title {
          font-size: 18px;
          font-weight: 500;
          margin-top: 15px;
        }
        .property-location {
          font-size: 14px;
        }

        .property-tags {
          margin-top: 5px;
          flex-wrap: wrap;
          .property-tag {
            font-size: 10px;
            padding: 4px 25px;
            white-space: nonwrap;
          }
        }
      }

      .property-host {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;

        .property-host-info {
          display: flex;
          align-items: flex-end;

          .property-name {
            font-size: 12px;
          }

          .property-picture {
            width: 32px;
            height: 32px;
          }
        }

        .property-rating {
          display: flex;
          align-items: flex-start;

          img {
            height: 13px;
          }
        }
      }
    }

    .collapse-container {
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 27px;
      gap: 20px;

      .collapse {
        margin: 0;
      }
    }
  }
}
