@use "../../styles/mixins.scss" as mixins;

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-left: 100px;
  margin-right: 100px;

  .link {
    gap: 57px;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    margin-top: 17px;

    a {
      text-decoration: none;
      color: black;
    }
  }

  @include mixins.mobile {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;

    .link {
      font-size: 12px;
      font-weight: 500;
      gap: 26px;
      text-transform: uppercase;
    }

    .kasa-logo {
      height: 47px;
    }
  }
}
