.footer {
    background-color: black;
    text-align: center;
    color: white;
    margin: 0 -100px;
    
    .kasa-logo {
        padding-top: 66px;
    }

    p {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}